<!doctype html>
<html lang="en" class="h-100">
 <%-include('./../partials/head.ejs') %>
 
<i></i>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<%-include ('./../partials/header.ejs')-%>

  <main class="px-3">
    <h1>Learn to Navigate here</h1>
    <p class="lead">Pour in your engineering related articles, 
      we will check your work for engineering consistency, 
        if within compliance  with bscode or other well recognised engineering codes
         it gets a credit for stay</p>
    <p>Pour in your engineering related articles, 
      we will check your work for engineering consistency, 
        if within compliance  with bscode or other well recognised engineering codes
         it gets a credit for stay</p>
    <p>Pour in your engineering related articles, 
      we will check your work for engineering consistency, 
      if within compliance  with bscode or other well recognised engineering codes
        it gets a credit for stay.</p>
    <p class="lead">
      <h4>Anything gone wrong? goto Haomepage</h4>
      <a href="/post/newpost" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Publish yours</a>
    </p>
  </main>

  <%- include('./../partials/footer.ejs')-%>
</div>


    
  </body>
</html>
